footer {
    color: white;
    padding: 0% 5%;
    min-height: 10vh;
    background: $background-color;
    @include flex(flex-start, center, row);

    h4 {
        flex: 2 1 40px;
    }

    ul {
        @include flex(space-around, center, row);
        flex: 1 1 40px;
    }
}