* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: $header1;
}

h2 {
    font-size: $header2;
}

h3 {
    font-size: $header3;
    font-weight: 400;
}

h4,
h5 {
    font-size: $header4;
}

li,
input,
p,
a,
label,
button {
    font-size: $text;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $gray-text;
}