$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$background-color:#154353;
$gray-text: #2c2c2c;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@import 'global';
@import 'intro';
@import 'projects';
@import 'contact';
@import 'footer';



@media screen and (max-width: 1335px) {
    html {
        font-size: 53%;
    }

    .splash {
        display: none;
    }

    svg {
        width: 90%;
    }

    nav {
        width: 100%;
    }

    .intro-text {
        flex: 1 1 50rem;
    }

    .intro-images {
        flex: 1 1 50rem;
    }
}

@media screen and (max-width: 720px) {
    html {
        font-size: 40%;
    }

    .main-head {
        width: 100%;
    }

    svg {
        height: 80%;
    }

    nav {
        .logo {
            @include flex(center, center, column);
            flex: 1 1 20rem;
            margin-top: 2rem;
        }

        ul {
            flex: 1 1 60rem;
            margin: 2rem 0rem;
        }
    }

    .intro-text {
        margin-top: 5rem;
        text-align: center;
    }

    .intro-images {
        text-align: center;
    }

    .intro-social {
        @include flex(center, center, row);

        a {
            margin: 2rem;
        }
    }

    .elena,
    .travelly {
        flex: 1 1 50rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        h2 {
            margin-bottom: 1rem;
        }
    }

    form {
        width: 100%;
    }
}